.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__input {
  /* text-align: right; */
  direction: rtl;
}

.App form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px;
}

.App form label {
  font-size: 20px;
  line-height: 50px;
}

.App form input {
  font-size: 20px;
  padding: 5px;
}

.App form button {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.App table {
  border-collapse: collapse;
  width: 100%;
}

.App table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.App table tr:nth-child(even) {
  background-color: #dddddd;
}